# Django #
############
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Backup files #
#################
*.bak

# The specific file you mentioned #
##################################
mysite/settings.py